/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
      background-color: #f0f0f0;
  }
  
  
  
  .login_error {
    border-left: 4px solid #72aee6;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    word-wrap:break-word
}
/* .login .success {
    border-left-color:#00a32a
} */
.login_error {
    border-left-color:#d63638
}
.login-form {
    padding: 80px 0px;
    width: 320px;
    margin: auto;
}
.form {
    border: 1px solid #cfd4d9;
    border-radius: 5px;
    margin-top: 20px;
    padding: 26px 24px 34px;
    background-color: white;
}
.btn {
    background-color: #325A73 !important;
    border: none !important;
}
.link:hover {
    color: #325A73 !important;
}