@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: 'Poppins', sans-serif;
  }
  
  
  
  .login_error {
    border-left: 4px solid #72aee6;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    word-wrap:break-word
}
/* .login .success {
    border-left-color:#00a32a
} */
.login_error {
    border-left-color:#d63638
}
.login-form {
    padding: 80px 0px;
    width: 320px;
    margin: auto;
}
.form {
    border: 1px solid #cfd4d9;
    border-radius: 5px;
    margin-top: 20px;
    padding: 26px 24px 34px;
    background-color: white;
}
.btn {
    background-color: #325A73 !important;
    border: none !important;
}
.link:hover {
    color: #325A73 !important;
}